@{
     ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h2>Welcome to the ASP.Net Core 3 Claims Based Identity web application sample</h2>
</div>
<br />
<p>This sample web applications demostrates the following:</p>
<ul>
     <li>Implementing Identity (Authentication and Authorization) using Claims based Policies</li>
     <li>Configuring Authentication and Authorization without using ASP.Net Identity</li>
     <li>Logging into and out of a web application</li>
     <li>Managing Users and Claims</li>
     <li>Implementing Role functionality using Claims</li>
     <li>Implementing security for the web pags and API endpoints</li>
</ul>

<p>Please click on the <b>User->Login</b> link in the top right part of the navagation bar to get started!</p>
