@{
     ViewData["Title"] = "Invalid Credentials";
}

<header>
     <h2 class="text-danger">@ViewData["Title"]</h2>
     <br/>
     <p class="text-danger">The user name / password combination is invalid. Please try again.</p>
</header>