@{
    ViewData["Title"] = "Login Success";
}

<div class="text-center">
     <h2>Congratulations! You have successfully logged into the web application</h2>
</div>
<br/>
<p>You can perform a number of tasks including the following:</p>
<ul>
     <li>Test the web page security</li>
     <li>Display information about the existing claims for the currently logged in user</li>
     <li>Browse the security log</li>
</ul>