@{
     ViewData["Title"] = "Admin's Secret";
}
<h3>@ViewData["Message"]</h3>

<p>This example shows that <b>Roles</b> are just one type <b>Claim</b>(e.g. ClaimTypes.Role). The difference is that Roles have built in functionality (e.g. [Authorize(Roles="Administrator")]),
   while <b>Claims</b> require a policy to be added to Startup.cs for each type of <b>Claim</b>.
 </p>