@{
    ViewData["Title"] = "Access Denied";
}

<header>
	<h2 class="text-danger">@ViewData["Title"]</h2>
	<br />
	<p class="text-danger">The user does not have access to the protected resource.</p>
</header>