@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h4>Reset user password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
	    <form method="post">
		    <div class="form-group">
		    		<div class="input-group">
		    			<div class="input-group-prepend">
		    				<span class="input-group-text"><i class="fa fa-user"></i></span>
		    			</div>
		    			<input asp-for="UserName" class="form-control" type="text" placeholder="Username" required="required" />
		    		</div>
			    	<span asp-validation-for="UserName" class="text-danger"></span>
		    </div>
		    <div class="form-group">
		    		<div class="input-group">
		    			<div class="input-group-prepend">
		    				<span class="input-group-text"><i class="fa fa-lock"></i></span>
		    			</div>
		    			<input asp-for="Password" class="form-control" type="password" placeholder="New Password" required="required" />
		    		</div>
		    		<span asp-validation-for="Password" class="text-danger"></span>
		    </div>
		    <div class="form-group">
		    		<div class="input-group">
		    			<div class="input-group-prepend">
		    				<span class="input-group-text"><i class="fa fa-lock"></i></span>
		    			</div>
		    			<input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm New Password" required="required" />
		    		</div>
		    		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		    </div>
	    	<button type="submit" class="btn btn-primary">Reset</button>
	    </form>
    </div>
</div>
