@using ClaimsBasedIdentity.Data.POCO;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset user password";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
	    <form method="post">
	    		@Html.AntiForgeryToken()
		    <div class="form-group">
			    <select name="UserName" class="form-control form-control-sm" id="UserName">
			    		@foreach (ApplicationUser u in Model.Users)
					{
						<option value="@u.UserName">@u.UserName</option>
					}
				</select>
		    </div>
		    <div class="form-group">
	    		<div class="input-group input-group-sm">
	    			<div class="input-group-prepend">
	    				<span class="input-group-text"><i class="fa fa-lock"></i></span>
	    			</div>
	    			<input asp-for="Password" class="form-control form-control-sm" type="password" placeholder="New Password" required="required" />
	    		</div>
	    		<span asp-validation-for="Password" class="text-danger"></span>
		    </div>
		    <div class="form-group">
	    		<div class="input-group input-group-sm">
	    			<div class="input-group-prepend">
	    				<span class="input-group-text"><i class="fa fa-lock"></i></span>
	    			</div>
	    			<input asp-for="ConfirmPassword" class="form-control form-control-sm" type="password" placeholder="Confirm New Password" required="required" />
	    		</div>
	    		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		    </div>
		    <button type="submit" class="btn btn-primary btn-sm">Reset</button>
	    </form>
    </div>
</div>
