@model ClaimsBasedIdentity.Data.POCO.ApplicationUser
@{ 
    ViewData["AdminView"] = false;
    ViewData["Title"] = "User Profile";
}
<div class="row">
     <div class="col-md-12">
          <h4>@ViewData["Title"]</h4>
     </div>
</div>
<div class="row">
     <div class="col-md-12">
          <partial name="_PartialUserDisplayForm" view-data="ViewData" />
     </div>


     <div class="row">
          <div class="col-md-12">
               <a class="btn btn-primary btn-sm" href="/Account/EditProfile/@Model.Id">Edit</a>
          </div>
     </div>
</div>