<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - ASP.Net Core 3 Claims Based Identity</title>
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" disabled="false">
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css" disable="true" />
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Claims Based Identity</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					   aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarTests" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tests</a>
							<div class="dropdown-menu" aria-labelledby="navbarTests">
								<a class="dropdown-item" href="/Secret/AdminSecret">Admin Secret</a>
								<a class="dropdown-item" href="/Secret/ManagerSecret">Manager Secret</a>
								<a class="dropdown-item" href="/Secret/BasicSecret">Basic Secret</a>
								<a class="dropdown-item" href="/Secret/NoRole">No Role</a>
								<a class="dropdown-item" href="/Secret/NoSecret">No Secret</a>
								<a class="dropdown-item" href="/Secret/ComboSecret">Combo Secret</a>
								<a class="dropdown-item" href="/Secret/ClaimsSecret">Claims Secret</a>
								<a class="dropdown-item" href="/Secret/GrownUpSecret">Custom Claim Secret</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
							<div class="dropdown-menu" aria-labelledby="navbarAccount">
								<a class="dropdown-item" href="/Account/Index">Accounts</a>
								<a class="dropdown-item" href="/Account/Claims">Claims</a>
								<a class="dropdown-item" href="/Account/Log">Log</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="/Home/About">About</a></li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<div class="container">
		<div class="col-md-12 col-xs-12 text-center">
			<hr />
			<footer>
				<p>Copyright &copy; 2020 - Seagull Consulting, Inc.</p>
			</footer>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
	<script type="text/javascript" src="~/js/logout.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
